<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e-commmerce store</title>
    <!--Font Awesome CDN-->
    <script src="https://kit.fontawesome.com/cdd4eb7069.js"></script>
    <!--Of course normal html-->
    <link rel="stylesheet" href="../static/styles/my_styles.css">
</head>
<body>

    <!--First header of the home page-->
    <section id="header">
        <a href="#"><img src="../static/images/homepage/logo2.png" alt="Company Logo" class="Logo"></a>
        <!--Div containing the navigation bar-->
        <div>
            <ul id="navbar">
                <li><a href="index.html">HOME</a></li>
                <li><a href="shop.html">SHOP</a></li>
                <li><a href="about.html">ABOUT</a></li>
                <li><a class="active" href="contact.html">CONTACT</a></li>
                <li id="lg-bag"><a href="cart.html"><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li><a href="#"><i class="fa-regular fa-user"></i></a></li>
                <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a>
            </ul>
        </div>
        <div id="mobile">
           <a href="cart.html"><i class="fa-solid fa-cart-shopping"></i></a>
            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>

    <section id="page-header">
        <h2>#Let's_talk</h2>
        <p>LEAVE A MESSAGE, We love to hear from you!</p>
    </section>

    <section id="contact-details" class="section-p">
        <div class="details">
            <span>GET IN TOUCH</span>
            <h2>Visit our agency and etc.</h2>
            <h3>Lorem ipsum dolor sit amet.</h3>
            <div>
                <li>
                    <i class="fa-solid fa-location-dot"></i>
                    <p>36, Shola Ademodi Street, Lagos</p>
                </li>

                <li>
                    <i class="fa-regular fa-envelope"></i>
                    <p>drayfingerfoodsngrills@gmail,com</p>
                </li>

                <li>
                    <i class="fas fa-phone-alt"></i>
                    <p>+2347010872030</p>
                </li>

                <li>
                    <i class="far fa-clock"></i>
                    <p>Monday - Saturday (8am - 9pm)</p>
                </li>
            </div>
        </div>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3963.6792048020566!2d3.2979347111355617!3d6.562116022684855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b8e2c815a7809%3A0xd96e15f045b7e0f4!2sCaroline%20Odu%20St%2C%20Ejigbo%2C%20Oshodi%2FIsolo%20102214%2C%20Lagos!5e0!3m2!1sen!2sng!4v1710840416540!5m2!1sen!2sng" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>

    <section id="form-details">
        <form action="">
            <span>LEAVE A MESSAGE</span>
            <h2>We love to hear rom you</h2>
            <input type="text" placeholder="Your name">
            <input type="text" placeholder="Email">
            <input type="text" placeholder="Subject">
            <textarea name="" id="" cols="30" rows="10" placeholder="Your message"></textarea>
            <button class="normal">Submit</button>
        </form>
        <div class="exec">
            <div>
                <img src="../static/images/contact-images/Moses.jpg" alt="">
                <p><span>Moses Alipoe</span>C.E.O <br>+2349020178139<br> alipoemoses646@gmail.com</p>
            </div>
            <div>
                <img src="../static/images/contact-images/Emmanuel.jpg" alt="">
                <p><span>Emmanuel</span> Frontend Engineer <br> +2348069370798 <br> emmaontop86@yahoo.com</p>
            </div>
            <div>
                <img src="../static/images/contact-images/chapa.jfif" alt="">
                <p><span>Chapa</span>Backend Engineer <br> +251966456763 <br> Email</p>
            </div>
            <div>
                <img src="../static/images/contact-images/Didi.jpeg" alt="">
                <p><span>Didi</span>Backend Engineer <br> +2348123680766 <br> </p>
            </div>
        </div>
    </section>

    <!--Newsletter-->
    <section id="newsletter" class="section-p" class="section-m">
        <div class="newstext">
            <h4>Sign up for Newsletter</h4>
            <p>Get e-mail updates about our latest shop and <span>special offers</span></p>
        </div>
        <div class="form">
            <input type="text" placeholder="Your email address">
            <button class="normal">Sign up</button>
        </div>
    </section>

    <footer class="section-p">
        <div class="col" class="Logo">
            <img src="../static/images/homepage/logo2.png" alt="" width="120px" height="70px">
            <h4>Contact</h4>
            <p><strong>Address: </strong>36, Shola Ademodi Street, Lagos</p>
            <p><strong>Phone: </strong>+234 70 108 720 30</p>
            <p><strong>Hours: </strong>Monday to Saturday (8am - 9pm)</p>
            <div class="follow">
                <h4>Follow us</h4>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-youtube"></i>
                    <i class="fa-brands fa-tiktok"></i>
                </div>
            </div>
        </div>
        
        <div class="col">
            <h4>About</h4>
            <a href="#">ABout us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy policy</a>
            <a href="#">Terms and Conditions</a>
            <a href="#">Contact us</a>
        </div>
            
        <div class="col">
            <h4>My Account</h4>
            <a href="#">Sign in</a>
            <a href="#">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track my order</a>
            <a href="#">Help</a>
        </div>
        
        <div class="col install">
            <h4>Install App</h4>
            <p>From App store or google store</p>
            <div class="row">
                <a href="#"><img src="../static/images/footer-images/playstore.png" alt="" width="150px" height="100px"></a>
                <a href="#"><img src="../static/images/footer-images/appstore.png" alt="" width="150px" height="100px"></a>
            </div>
            <p>Secured Payment Gateways</p>
            <img src="../static/images/footer-images/secured-payment.png" alt="">
        </div>

        <div class="copyright">
            <p>&#169 Dray Fingerfoods & Grills. 2024</p>
        </div>
    </footer>
    
    <script src="../static/scripts/script.js"></script>
</body>
</html>