<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
        <p>Name</p>
        <input placeholder="Enter your name" type="text">
        <p>Phone Number</p>
        <input type="text" placeholder="Enter your active phone number">
        <p>Contact address</p>
        <input type="text" placeholder="Enter address of delivery">
    </form>
</body>
</html>